.barCode {
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: flex-start;
}

.barCode__header_title {
    text-transform: uppercase;
    margin-left: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.barCode__content {
    background: white;
    border-radius: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #525252;
}

.barCode__content__row {
    display: flex;
    padding: 64px 60px 110px;
}

.barCode__content__row__description {
    max-width: 556px;
    padding-right: 30px;
}
.barCode__content__row__description h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 52px;
    text-transform: uppercase;
}
.barCode__content__row__description ol li {
    font-size: 18px;
    color: rgb(74, 74, 74);
    margin-bottom: 18px;
}
.barCode__content__row__qr {
    max-width: 300px;
}
.barCode__content__row__register {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    max-width: 200px;
    width: 100%;

    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.barCode__content__row__register input {
    padding: 13px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}
.barCode__content__row__register input:first-child {
    margin-top: 20px;
}

.qrcode {
    width: 300px;
    height: 300px;
}
.orange_txt {
    font-weight: 700;
    color: #ff8d03;
}
